body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: rgb(26, 251, 10);
  margin-bottom: 10px;
  text-align: center;
}

h1,
h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 8);
  margin-bottom: 10px;
}

ol,
ul {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 8);
  margin-bottom: 10px;
}

/* Styles for normal links */
a:link,
a:visited {
  text-decoration: none;
  /* Remove underline */
}

/* Styles for links on hover */
a:hover {
  text-decoration: underline;
  /* Add underline on hover */
}